{% extends 'base.html' %}

{% block content %}
<div style="margin-left:25%">

<style>
table {
  font-family: verdana, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid black;
  text-align: middle;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #D6EAF8;
}
</style>

<h1>Waitlist History</h1>

<table>
  <tr>
    <th>Party Name</th>
    <th>Party Size</th>
    <th>Arrival Time</th>
    <th>Wait Time</th>
  </tr>
  <tr>
    {% for wait in waithistory %}
        <td>{{ wait.name }}
        <td>{{ wait.party_size }}
        <td>{{ wait.arrival_time }}
        <td>{{ wait.wait_time }} minutes
  </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
